.App{
  width: 100vw;
  height: auto;
  display: flex;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.part1_app{
  flex: 1; 
}

.part2_app{
  flex: 5;
 
  
}

@media screen and (max-width: 789px) {
  .part1_app{
    flex: 0; 
  }
  
}


@media screen and (max-width: 429px) {
  .part1_app{
    flex: 0; 
  }
  
}